---
import Layout from "../layouts/BaseLayout.astro";
---

<Layout>
  <h1>Chi sono</h1>
  <p>Benvenuti nella pagina di presentazione del blog.</p>
  <p>
    Questa è la pagina dedicata alla tua presentazione. Qui puoi scrivere chi
    sei, cosa fai e perché hai deciso di aprire questo blog.
  </p>

  <p>
    Puoi personalizzare questo testo modificando il file
    [src/pages/about.astro](src/pages/about.astro).
  </p>
</Layout>
