---
import Layout from "../layouts/BaseLayout.astro";
---

<Layout>
  <h1>Node.js Insights</h1>
  <p>
    Benvenuti in questo spazio dedicato interamente a <strong>Node.js</strong>.
    Qui troverai concetti fondamentali, guide avanzate e traduzioni riadattate
    per la community italiana.
  </p>
  <p>
    L'obiettivo di questo blog è rendere accessibili i concetti chiave
    dell'ecosistema Node.js, spiegati in modo chiaro e pratico.
  </p>
  <p>Cosa troverai qui:</p>
  <ul>
    <li>Core Modules e Architettura di Node.js.</li>
    <li>Gestione dell'Asincronia e Event Loop.</li>
    <li>Performance, Scalabilità e best practices.</li>
  </ul>
  <p>Buono studio!</p>
</Layout>
